<h2>So'Mate</h2>

<h4>Search for NYC/Online Events:</h4>
<%= form_tag(events_path, method: :get) do %>
<%= text_field_tag(:search, params[:search]) %>
<%= submit_tag ("Search") %>
<% end %>

<!-- END OF SEARCH BAR -->

<% @events.each do |event|%>
<ul>
<li> <%= link_to event.name, event_path(event) %> </li><br>
</ul>
<% end %>
