<h1> What are you interested in? </h1><br>

<% @interests.each do |interest| %>
    <h2><%= link_to interest.name, interest_path(interest) %> </h2>
    <h4> Description: <%= interest.description %> </h4> <br>
    <% end %>
    