<h1> What is your interests: </h1><br>

<% @interests.each do |interest| %>
    <%= link_to interest.name, interest_path(interest) %> 
    <p> Description: <%= interest.description %> </p> <br>
    <% end %>
    