
   .background  {
            background-image: url(logo1.jpg); 
            background-repeat: no-repeat;
            height: 630px;
            border: 2px, solid, black;  
   }
   

   .navigation {
           list-style-type: none;
           float: left;
           text-align: center;
           font-size: 25px;  
           margin: 0;
           padding: 50;
           text-decoration: none;
   }

   .nav-bar { display: inline;   margin: 10px; margin: 10;
    padding: 0;}

   li a { background-color: rgb(233, 230, 230);} 

   input[type=submit] { padding: 10px; margin: 30px;  border-radius: 15px; 
    } 
    .avatar {width: 60px; height: 60px;}

    .event-pic {width: 500px; 
                height: 400px;
                padding: 20px;
                float: left;}

    .event-description {overflow: auto;}

    .city { padding-left: 500px; 
            padding-top: 40px;
           font-size: 100px;}

     a { text-decoration: none;}
    

